
@media only screen and (max-width: 500px) {
    .sand-box{
        display: flex;
        flex-direction: column-reverse;
    }
    .grid-container{
        max-width: 97%;
    }
    .grid-main{
        padding: 0 !important;
    }
    .related-img{
        display: none;
    }
}

.photo-item{
    min-width: 100%;
    min-height: 100%;  
}
img:hover{
    cursor: pointer;
}
input{
    display: block;
}
span{
    font-size: 16px;
    padding:10px;
}

h1{
    margin:0;
    font-size: 60px;
    z-index: 2;
}
.sand-box{
    max-width:970px;
    padding: 5px;
    padding-top: 50px;
}
.related-img{
   background:  #323232a3;
}
.control-panel{
    background: yellowgreen;
    padding: 10px;
}
.text-input{
   padding:10px;
   height: 30px;
}
.color-input{
    height: 30px;;

    /* width: 100px; */
}




