.top-bar{
    max-width: 100%;
    background: #323232;   
    padding: 10px;
}

.top-bar .h1{
    color: #2eb398;
    z-index: 5;
}

.search-box{
    z-index: 3;
    border-radius: 5px;
    height: 60px;
}

.logo-box{
    font-size: 50px;
    background: #323232;
    position: absolute;
    left: 43%;
    /* top: -122px; */
    /* font-size: 20px; */
    /* text-align: center; */
    width: 117px;
    height: 77px;
    /* margin: auto; */
    transform: rotateZ(45deg);
    align-items: unset;
}

.logo{
    font-size: 50px;
    transform: rotateZ(-46deg);
    position: absolute; /*in order to fix him inside the div*/
    left: 36%;/*should change dinamicaly with media queries */
}