*{
    box-sizing: border-box;
}

html{
    font-family: lato, serif;
    font-weight: 400;
    color: #597c54;
    font-size: 15px;
}

body{
    margin: 0;
}
ul{
    list-style-type: none; 
    margin-top: 0px;
    padding: 0px
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    background: none;
    text-decoration: none;
    border: none;
}
button:focus{
    outline:0;
}
